VITE_STARKNET_NETWORK=mainnet
VITE_STARKNET_RPC_URL=https://api.zan.top/public/starknet-mainnet/rpc/
VITE_STRK20_POOL_ADDRESS=
VITE_MORROW_ESCROW_ADDRESS=
VITE_TOKEN_ADDRESS=
VITE_STARKSCAN_BASE_URL=https://starkscan.co
